AddDefaultCharset utf-8
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
Options +FollowSymLinks
#IndexIgnore */*
RewriteEngine on

# если директория или файл существуют, использовать их напрямую
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# иначе отправлять запрос на файл index.php
RewriteRule . index.php